html,
body {
  font-family: 'ProximaNova-Regular', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  font-size: 14px;
  color: #6e6f72;
  transition: all 0.3s ease;
}

/* ====================

Category-A: Charitable Impact Strategies
Category-B: Stories
Category-C: Research
Category-D: How To

==================== */

:root {
  --text-primary: rgba(38, 50, 56, 1);
  --image-background: rgba(212, 212, 212, 1);
  --cat-item-All: rgba(0, 54, 140, 1);
  --cat-item-A: rgba(144, 69, 154, 1);
  --cat-item-B: rgba(0, 158, 162, 1);
  --cat-item-C: rgba(237, 128, 59, 1);
  --cat-item-D: rgba(219, 1, 99, 1);
  --cat-item-E: rgba(0, 54, 140, 1);
  --cat-item-F: rgba(9, 53, 255, 1);
  --navbar-height: 80px;
}

/* body p,
body ul > li {
  font-size: 18px;
  line-height: 32px;
  font-weight: 300;
} */

body .mb-4,
body .my-4 {
  margin-bottom: 30px !important;
}

body main {
  margin-top: 40px;
  margin-bottom: 40px;
}
@media only screen and (max-width: 767px) {
  body main {
    margin-top: 20px;
  }
}

body h1 {
  font-family: 'ProximaNova-Bold', Arial, sans-serif;
  font-size: 2rem;
}

body h2 {
  font-family: 'ProximaNova-Medium', Arial, sans-serif;
  font-size: 1.8rem;
}

body h3 {
  font-family: 'ProximaNova-Regular', Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  margin: 15px 0;
}

.card {
  background-color: rgba(251, 251, 251, 1);
  border: 1px solid transparent;
}

.card:hover {
  border-color: #eeeeee;
}

.card-body {
  padding: 15px;
}

@media only screen and (max-width: 991px) {
  .card-body {
    padding: 8px !important;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.mt-20 {
  margin-top: 20px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row > * {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1140px;
  }
}

.category-item-A,
.category-A-hover:hover {
  color: var(--cat-item-A);
}

.category-item-B,
.category-B-hover:hover {
  color: var(--cat-item-B);
}

.category-item-C,
.category-C-hover:hover {
  color: var(--cat-item-C);
}

.category-item-D,
.category-D-hover:hover {
  color: var(--cat-item-D);
}

.category-item-E,
.category-E-hover:hover {
  color: var(--cat-item-E);
}

.category-item-F,
.category-F-hover:hover {
  color: var(--cat-item-F);
}
